<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lapitech</title>
    <script src="https://kit.fontawesome.com/75ef96139c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <nav class="navbar background h-nav">
        <ul class="nav-list v-bar">
            <div class="logo">
                <img src="../static/logo-removebg-preview (1).png" alt="logo">
            </div>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="#con">Contact Us</a></li>
        </ul>
        <div class="rightnav v-bar">
            <input type="search" name="search" id="search">
            <button class="btn btn-sm">Search</button>
        </div>
        <div class="burger" onclick="">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>

    <section class="background firstsection">
        <div class="box-main">
            <div class="firsthalf">
                <p class="text-big">The Future of Laptops is here</p>
                <p class="text-small">
                    A laptop computer or notebook computer, also known as a laptop or notebook for short, is a small, portable personal computer (PC). The future of laptops is ready to launch.
                </p>
                <div class="button">
                    <button class="btn">Subscribe</button>
                    <button class="btn">Watch Video</button>
                </div>
            </div>
            <div class="secondhalf">
                <img src="../static/logo-removebg-preview (1).png" alt="Laptop">
            </div>
        </div>
    </section>

    <section class="secright section">
        <div class="paras">
            <p class="sectiontag text-big">Laptops Will Be Thin & Light</p>
            <p class="sectionsubtag text-small">
                In the future, new laptop technology will make laptops even thinner and lighter, giving rise to the futuristic laptop we hope to see. They will also run for longer periods without needing to be charged. This means that we’ll be able to carry them around everywhere and use them whenever we want.
                It’s not that we didn’t realize that turning every home office into a primary office would lead to increased demand for better cameras, microphones, displays, and other equipment. However, responding to that need —by inventing a new product or adding new features, then manufacturing and distributing it —is a multi-year process. That’s why we’re only starting to see simple features like full-HD cameras becoming widespread as we approach 2022 at CES and beyond.
                Here’s how the epidemic has accelerated these trends by bringing up new laptop technology, which will be reflected in future laptops and beyond.
            </p>
        </div>
        <div class="thumbnail">
            <img src="../static/pic1.jpeg" alt="Thin & Light Laptops" class="imgfluid">
        </div>
    </section>

    <section class="section-left section">
        <div class="paras">
            <p class="sectiontag text-big">Improved Mics & Webcams</p>
            <p class="sectionsubtag text-small">
                Improved webcams and microphones are one simple solution made by the latest computer technology to bring about the best futuristic laptops. For years, the 13-inch MacBook Air was the most widely useful notebook available. The subpar 720p webcam is the only major problem. You could practically know who was using a MacBook in your Zoom meeting if you saw enough of these, just like some experienced radio DJs can determine which microphone someone is using just by sound.
                Thanks to the latest computer technology, Apple immediately began bringing out stronger cameras, beginning with the 2020 iMac 27-inch model. The 24-inch iMac and the new 14-inch and 16-inch MacBook Pro computers maintained the trend.
            </p>
        </div>
        <div class="thumbnail">
            <img src="../static/pic2.avif" alt="Improved Mics & Webcams" class="imgfluid">
        </div>
    </section>

    <section class="secright section">
        <div class="paras">
            <p class="sectiontag text-big">Improved Functions</p>
            <p class="sectionsubtag text-small">
                Numerous new improvements in future laptops promise to alleviate some of the unpleasantness associated with remote work. Many of these have already been disclosed, such as Dell’s Flow idea, which uses proximity to connect and disengage a laptop from a secondary display seamlessly. Dell’s Pari webcam prototype, which is wireless and can stick itself wherever on your screen to acquire the perfect eye line, was also appealing. Alternatively, you could pick it up and point it at anything, from the blackboard across the room to the wonderful idea you scribbled on a cocktail napkin.
                These projects are still in the concept or prototype stages, so don’t hold your breath for them anytime soon. However, I believe that this year will see more inventive assistant apps and features, such as computers that can detect when someone is peering over your shoulder or that can log you in using facial recognition, even if you’re wearing a mask.
            </p>
        </div>
        <div class="thumbnail">
            <img src="../static/pic3.jpg" alt="Improved Functions" class="imgfluid">
        </div>
    </section>

    <section class="contact" id="con">
        <h2 class="text-contact">Contact Us</h2>
        <form action="/contact" method="post">
            <div class="form1">
                <input class="form-input" type="text" name="name" id="name" placeholder="Enter Your Name" required>
                <input class="form-input" type="text" name="phone" id="phone" placeholder="Enter Your Phone" required>
                <input class="form-input" type="text" name="email" id="email" placeholder="Enter Your Email" required>
                <textarea class="form-input" name="concern" id="text" cols="50" rows="8" placeholder="Elaborate your Concern"></textarea>
                <button class="btn-dark btn btn-sm" type="submit" id="submit">Submit</button>
            </div>
        </form>
    </section>

    <footer class="background">
        <p class="text-footer">
            Copyright &copy;2027 www.Educate.com - All rights reserved
        </p>
    </footer>

    <script src="../static/resp.js"></script>
</body>

</html>
